pip>=20.0.2
colorama>=0.4.6
platformdirs>=4.2.0
tox>=4.13.0
tomli>=2.0.1
pluggy>=1.4.0
packaging>=23.2
chardet>=5.2.0
virtualenv>=20.25.1
cachetools>=5.3.3
filelock>=3.13.1
pytest>=8.0.2
mypy>=1.8.0
setuptools>=44.0.0
wheel>=0.34.2
flake8>=7.0.0
pyflakes>=3.2.0
pycodestyle>=2.11.1
exceptiongroup>=1.2.0
iniconfig>=2.0.0
coverage>=7.4.3
distlib>=0.3.8